.post-card-container {
  display: flex;
  justify-content: center;
}

.card {
  /*max-width: 80%;*/
  display: flex;
  flex-direction: column;
  width: max-content; /* Adjust width as needed */
  margin: 15px;
  background-color: rgb(211, 196, 182);
  /*border: 5px solid #e68787;*/
  border-radius: 20px;
  box-shadow: 6px 10px 6px #e68787, 0 0 10px #e68787;
  height: auto;
  min-width: 100%;
  z-index: 0;
}

.image-container {
  display: flex;
  justify-content: center;

}

.card-body {
  padding: 20px;

}

.user-id {
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.description {
  margin-bottom: 15px;
}

.post-image {
  width: 70%;
  border-radius: 20px;
}

.heart-button {
  margin-top: 15px;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  padding: 0;
  display: inline-flex; /* Use inline-flex to easily align items */
  align-items: center; /* Center items vertically */
}

.heart-svg {
  width: 40px; /* Adjust size as needed */
  fill: red; /* Color of the heart */
  transition: fill 0.3s ease; /* Transition for color change */
}

.heart-button:hover .heart-svg {
  fill: #e68787; /* Color when hovered */
}

.heart-button label {
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  /* Mobile styles */
  .post-card-container {
    flex-wrap: wrap;
  }

  .card {
    width: 100%; /* Take full width on mobile */
  }
}

@media screen and (min-width: 768px) {
  /* Desktop styles */
  .card {
    width: 40%; /* Set card width to 40% on desktop */
    max-width: max-content; /* Allow card to expand beyond a maximum width */
  }
}

.post-footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post-footer-container a {
  position: absolute;
  right: 30px;
  margin-top: 10px;
}

.profile-image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.modal-content {
  /* Adjust the background color, border-radius, and box-shadow */
  background-color: rgb(19, 36, 40);
  color: white;
  border-radius: 20px;
  box-shadow: 6px 10px 6px #e68787, 0 0 10px #e68787;
}

.modal-header {
  /* Center-align the modal title */
  text-align: center;
}

.modal-footer {
  /* Center-align the modal buttons */
  justify-content: center;

}

.close-btn, .save-btn {
  height: max-content;
  background-color: rgb(230, 135, 135);
  border: none;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
}

.modal-body input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-footer {
  justify-content: space-between; /* Align buttons with space between */
}


